.chipside {
  margin-top: 30px;
  min-width: 15vw !important;
  max-width: 40vw !important;
  
}

.main {
  margin-top: 20px !important;
  min-width: 15vw !important;
}

.chip-side {
  margin-right: 10px;
}

.multiselectchip {
  margin-right: 10px !important;
  min-width: 120px !important;
  min-height: 30px !important;
  font-size: 18px !important;
  margin-bottom: 10px !important;
}
