.detailGraph {
    max-width: 100%;
    max-height: 276px;
    font-size: 16px;
  }

  .cardTitle1 {
    font-size: 18px !important;
    font-family: Inter SemiBold !important;
  }
  .dropDown{
    display: flex;
    justify-content: flex-end;
  }
  .graph{
    width: 400px;
  }